{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.tagList'|trans }}
{% endblock %}

{% block body %}
    <h1>{{ 'title.tagList'|trans }}</h1>
    {% if pagination is defined and pagination.items|length %}

        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>

        <table class="table table-striped">
            <thead>
            <tr>
                <th>{{ knp_pagination_sortable(pagination, 'label.id'|trans, 'tag.id') }}</th>
                <th>{{ 'label.title'|trans }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label.createdAt'|trans, 'tag.createdAt') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label.updatedAt'|trans, 'tag.updatedAt') }}</th>
                <th>{{ 'label.actions'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for tag in pagination.items %}
                <tr>
                    <td>{{ tag.id }}</td>
                    <td>{{ tag.title }}</td>
                    <td>{{ tag.createdAt|format_date('long') }}</td>
                    <td>{{ tag.updatedAt|format_date('long') }}</td>
                    <td>
                        <a href="{{ url('tag_view', {id: tag.id}) }}" class="btn btn-sm btn-outline-primary" title="{{ 'action.view'|trans }}">
                            {{ 'action.view'|trans }}
                        </a>
                        <a href="{{ url('tag_edit', {id: tag.id}) }}" class="btn btn-sm btn-outline-secondary" title="{{ 'action.edit'|trans }}">
                            {{ 'action.edit'|trans }}
                        </a>
                        <a href="{{ url('tag_delete', {id: tag.id}) }}" class="btn btn-sm btn-outline-danger" title="{{ 'action.delete'|trans }}">
                            {{ 'action.delete'|trans }}
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <div class="navigation text-center">
            <a href="{{ url('tag_create') }}" class="btn btn-primary" title="{{ 'action.addNewTag'|trans }}">
                {{ 'action.addNewTag'|trans }}
            </a>
            {{ knp_pagination_render(pagination) }}
        </div>

    {% else %}
            {% include 'default/_single_alert_message.html.twig' with {
                type: 'warning',
                message: 'message.emptyList'|trans
            } %}
    {% endif %}
{% endblock %}