{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.tagDetails'|trans({'%id%': tag.id|default('')}) }}
{% endblock %}

{% block body %}
    <h1>{{ 'title.tagDetails'|trans({'%id%': tag.id|default('')}) }}</h1>
    {% if tag is defined and tag|length %}
        <dl class="row">
            <dt class="col-sm-2">{{ 'label.title'|trans }}</dt>
            <dd class="col-sm-9">{{ tag.title }}</dd>
            <dt class="col-sm-2">{{ 'label.id'|trans }}</dt>
            <dd class="col-sm-9">{{ tag.id }}</dd>
            <dt class="col-sm-2">{{ 'label.createdAt'|trans }}</dt>
            <dd class="col-sm-9">{{ tag.createdAt|format_date('long') }}</dd>
            <dt class="col-sm-2">{{ 'label.updatedAt'|trans }}</dt>
            <dd class="col-sm-9">{{ tag.updatedAt|format_date('long') }}</dd>


        <div class="d-flex justify-content-between mb-4">
            <div>
                <a href="{{ path('tag_edit', {id: tag.id}) }}" class="btn btn-outline-secondary me-2">
                    {{ 'action.edit'|trans }}
                </a>
                <a href="{{ path('tag_delete', {id: tag.id}) }}" class="btn btn-outline-danger">
                    {{ 'action.delete'|trans }}
                </a>
            </div>
            <div>
                <a href="{{ url('tag_index') }}" title="{{ 'action.backToList'|trans }}">
                    {{ 'action.backToList'|trans }}
                </a>
            </div>
        </div>
        </dl>
            <h2>{{ 'label.urls'|trans({'%title%': tag.title|default('')}) }}</h2>
                {% if pagination is defined and pagination.items|length %}
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>{{ 'label.id'|trans }}</th>
                            <th>{{ 'label.createdAt'|trans }}</th>
                            <th>{{ 'label.originalUrl'|trans }}</th>
                            <th>{{ 'label.shortCode'|trans }}</th>
                            <th>{{ 'label.tags'|trans }}</th>
                            <th>{{ 'label.actions'|trans }}</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for url in pagination.items %}
                            <tr>
                                <td>{{ url.id }}</td>
                                <td>{{ url.createdAt|format_date('long') }}</td>
                                <td><a href="{{ url.originalUrl }}">{{ url.originalUrl }}</a></td>
                                <td>{{ url.shortCode }}</td>
                                <td>
                                    {% for tag2 in url.tags %}
                                    <a href="{{ url('tag_view', {id: tag2.id}) }}" title="{{ 'action.view'|trans }}">
                                        {{ tag2.title }}
                                        </a>{% if not loop.last %}, {% endif %}
                                    {% endfor %}
                                </td>
                                <td>
                                    <a href="{{ url('url_view', {id: url.id}) }}" title="{{ 'action.view'|trans }}">
                                        {{ 'action.view'|trans }}
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                    <div class="navigation text-center">
                        {{ knp_pagination_render(pagination) }}
                    </div>
                {% else %}
                    <p>{{ 'message.emptyList'|trans }}</p>
                {% endif %}
    {% else %}
        <p>
            {{ 'message.recordNotFound'|trans }}
        </p>
    {% endif %}
{% endblock %}